---
layout: default
---
	{% comment %}
	这应该能显示tag页面才对啊
	哦 这是生成模式 页面的基础
	{% endcomment %}

<h1>标签 {{ page.title }} </h1>
	{{ content }}

	{% comment %}
	展示原【标签.md】页面内容 可以写点简介？
	{% endcomment %}

<br>
{% assign tag = site.tags[page.title] %}
{% include series.liquid posts=tag %}