---
layout: default
---
	{% comment %}
	这应该能显示tag页面才对啊
	哦 这是生成模式 页面的基础
	{% endcomment %}

<h1>Tag: {{ page.title }} 4</h1>
	{{ content }}

{% assign tag_data = site.tags[page.title] %}
{% include series.liquid posts=tag_data %}